.editor {
  position: relative;
  padding: 15px;
  margin: 0 -15px 15px;
  background-color: #fafafa;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
}
.editor-after {
  font-size: 12px;
  font-weight: bold;
  color: #a06cde;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 10px;
}

/* Make the examples and snippets not full-width */
@media (min-width: 768px) {
  .editor {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
  }
}

/* Tweak content of examples for optimum awesome */
.editor > .form-control:last-child {
  margin-bottom: 0;
}

.step {
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    border-radius: 4px 4px 0 0;
    box-shadow: 5px 5px 5px #888888;
    margin-top: 20px;
    position: relative;
}

.navbar-xs {
    padding: 10px;
    min-height:22px;
    border-width: 2px;
    border-radius:1
}
.navbar-xs .navbar-brand{
    padding: 2px 8px;
    font-size: 14px;
    line-height: 14px;
}

.input-big {
    width: 300px;
}
