.container-fluid {
    max-width: 773px;
    padding: 10px;
}

.img-responsive {
    margin: 0 auto;
}

.program {
    border-radius: 4px 4px 0 0;
    background-color: #def0fc;
    padding: 5px;
    margin: 5px;
}

.tableComment {
    border: 1px solid;
    border-style: dotted;
    padding: 10px;
}

.list-inline>li {
    margin-right: -7px;
}

.btn-github {
    background: #000000;
    color: white;
}

.btn-github:hover {
    color: ##504f4f;
}

.btn-github:hover {
    color: #fff;
    background-color: #504f4f;
    border-color: #333333;
}
