<div ng-controller="CalculController">
  <div ng-repeat="w in program.programs">

    <div ng-if="w.repeat" class="block-repeat">
      <div class="block-header">
        <img width="28px" height="24px" src="img/repeat.png"/>
        <strong>Répétitions</strong> {{w.repeat.time}} fois
      </div>

        <div ng-repeat="w in w.repeat.workouts">
          <div ng-include="'partials/workout.html'">
          </div>
        </div>

        <div ng-if="w.repeat.rest" class="workout-step rest">
          <strong>Repos:</strong> <span
          class="text-muted">{{w.repeat.rest}}</span>
        </div>
    </div>

    <div ng-repeat="w in w.workouts">
      <div ng-include="'partials/workout.html'">
      </div>
    </div>

    <div ng-if="w.warmup" class="workout-step warmup">
      <strong>Échauffement:</strong>&nbsp;{{w.warmup}}
    </div>
    <div ng-if="w.warmdown" class="workout-step warmdown">
      <strong>Récupération:</strong>&nbsp;{{w.warmdown}}
    </div>

  </div>

</div>

<form ng-submit="submit()">
  <div class="form-group  container-fluid">
    <div class="col-lg-offset-2 col-lg-4">
      <label for="programs">Programme:</label>
      <select ng-options="x for x in programNames" ng-change="submit()" ng-model="selectedProgram" class="form-control">
      </select>
    </div>
    <div class="col-lg-2">
      <label for="vma">VMA:</label>
      <select ng-options="x for x in allVMAS" ng-change="submit()" ng-model="selectedVMA" class="form-control" >
      </select>
    </div>
  </div>
</form>
