<div ng-controller="CalculController">
  <div ng-repeat="w in program.workouts">
    <div class="well-sm program">
      <h3 class="text-center"><strong>{{w.laps}} * <span ng-if="w.seconds">{{w.seconds}}s</span>
        <span ng-if="w.length">{{w.length}}m</span> @ {{w.percentage}}%</strong></h3>
    </div>
    <div class="table-responsive">
      <table summary="Frac" class="text-center table table-bordered table-striped">
        <thead>
          <tr>
            <th>VMA</th>
            <th><span ng-if="w.seconds">Distance Total</span><span ng-if="w.length">Temps Total</span></th>
            <th>Temps 400m</th>
            <th>Vitesse</th>
            <th>Allure</th>
          </tr>
        </thead>
        <tbody ng-init="vmas = doCalc(w.laps, w.length, w.seconds, w.percentage)">
          <tr ng-repeat="v in vmas">
            <td><strong>{{v.vma}}</strong></td>
            <td>{{v.totalTime}}</td>
            <td>{{v.timeLap}}</td>
            <td>{{v.speed}}kh</td>
            <td>{{v.pace}}</td>
          </tr>
        </tbody>
      </table>
      <div ng-if="w.rest" class="text-center bg-warning">
        <strong>Repos:</strong> <span class="text-muted">{{w.rest}}</span>
      </div>
    </div>
  </div>
</div>

<form ng-submit="submit()">
  <div class="form-group  container-fluid">
    <div class="col-lg-offset-2 col-lg-4">
      <label for="programs">Programme:</label>
      <select ng-options="x for x in programNames" ng-change="submit()" ng-model="selectedProgram" class="form-control">
      </select>
    </div>
    <div class="col-lg-2">
      <label for="vma">VMA:</label>
      <select ng-options="x for x in allVMAS" ng-change="submit()" ng-model="selectedVMA" class="form-control" >
      </select>
    </div>
  </div>
</form>
