<div class="workout-step active">

  <span class="label label-default">Répétition: </span>
  <input type="text" class="input input_small" ng-minlength="1" ng-maxlength="2" name="intervals" ng-model="step.laps" select-on-click/>

  <select ng-model="step.effort_type">
    <option ng-repeat="option in $parent.effortTypeOptions" value="{{option.value}}">
      {{option.name}}
    </option>
  </select>

  <span ng-show="step.effort_type == 'time'">
    <input type="text" select-on-click  class="input input_small" ng-minlength="1" ng-maxlength="9" name="time" ng-model="step.time">
    &nbsp;mn
  </span>

  <span ng-show="step.effort_type == 'distance'">
    <input type="text" select-on-click class="input input_medium" ng-minlength="1" ng-maxlength="9" name="length" ng-model="step.length">
    <select ng-model="step.effort_unit">
      <option ng-repeat="option in $parent.effortDistanceUnits" value="{{option.value}}">
        {{option.name}}
      </option>
    </select>
  </span>

  <br/>

  <span class="label label-default">Pourcentage VMA: </span>
  <input type="text" select-on-click class="input input_small" ng-minlength="1" ng-maxlength="3" name="percentage" ng-model="step.percentage">%

  <span class="label label-default">Repos: </span>
  <input type="text" class="input input_big" select-on-click  ng-minlength="1" name="rest" ng-model="step.rest">


  <img ng-click="remove($index)" class="icon" src="img/delete.png"/>
</div>
