<form data-toggle="validator" role="form">
  <span class="label label-success">Fractionnée</span>
  <div class="form-inline row">
    <div class="form-group col-sm-12">
      <label for="repetition" class="control-label">Répétition: </label>
      <input type="text" maxlength="2" class="form-control" name="repetition" placeholder="Nombres">
      <br/>
      <label for="unit" class="control-label">Type: </label>
      <select name="unit" class="form-control">
        <option>Distance</option>
        <option>Temps</option>
      </select>
      <input type="text" maxlength="9" class="form-control" name="distance" placeholder="Distance en mètres">
      <br/>
      <label for="vma" class="control-label">VMA:</label>
      <input type="text" class="form-control" name="vma" placeholder="Pourcentage">
      <br/>
      <label for="rest" class="control-label">Repos:</label>
      <input type="text" class="form-control" name="rest" placeholder="Temps ou distance repos">

    </div>
  </div>
</form>
