<div ng-show="error" ng-bind-html="error" class="alert alert-danger">
</div>

<div ng-show="success" ng-bind-html="success" class="alert alert-success">
</div>

<ng-form class="form-horizontal" name="forms.edit" novalidate>
  <div class="editor">

    <div class="checkbox pull-right">
      <label><input type="checkbox" name="public" ng-model="exercise.public" value="">Activité Publique</label>
    </div>

    <strong>Nom de la Séance</strong>:
    <input select-on-click type="text" maxlength="1024" class="form-control" name="name" ng-model="exercise.name" required>
    <label class="help-block" ng-show="forms.edit.name.$dirty && forms.edit.name.$error.required">
      Vous devez spécifier un nom.
    </label>
    <label class="help-block" ng-show="forms.edit.name.$dirty && forms.edit.name.$error.invalidURLChar">
      Vous avez des caracters invalide dans le nom (ne pas mettre de ?, /, &, !).
    </label>

    <strong>Commentaire sur la Séance</strong>:
    <textarea select-on-click type="text" maxlength="1024" rows="2" class="form-control" name="comment" ng-model="exercise.comment" required></textarea>

    <div class="step" ng-repeat="step in exercise.steps">
      <span ng-if="step.type == 'warmup'" ng-include="'html/edit/warmup.html'"></span>

      <span ng-if="step.type == 'warmdown'" ng-include="'html/edit/warmdown.html'"></span>

      <span ng-if="step.type == 'interval'" ng-include="'html/edit/intervals.html'"></span>

      <span ng-if="step.type == 'repeat'" ng-include="'html/edit/repeat.html'"></span>

      <div class="text-right">
        <a href ng-click="swapUp($index, exercise)"><i ng-hide="$first" class="glyphicon glyphicon-chevron-up"></i></a>
        <a href ng-click="swapDown($index, exercise)"><i ng-hide="$last" class="glyphicon glyphicon-chevron-down"></i></a>
        <a href ng-click="removeStep($index, exercise)"><i class="glyphicon glyphicon-remove"></i></a>

        <span ng-show="step.type == 'repeat'"> <!-- plus a new only when a repeat -->
          <a href class="dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-plus"></i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li><a href ng-click="addNewIntervals(step.repeat)">Fractionnée</a></li>
            <li><a href ng-click="addNewWarmupWarmdown('warmup', step.repeat)">Échauffement</a></li>
            <li><a href ng-click="addNewWarmupWarmdown('warmdown', step.repeat)">Récupération</a></li>
          </ul>
        </span>
      </div>
    </div> <!-- ng-repeat -->
  </div>
</form>

<ul class="list-inline text-center">
  <li>
    <a href="#">
      <button ng-click="delete()" class="btn btn-default navbar-btn">
        <i class="glyphicon glyphicon-remove"></i>
        Supprimer
      </button>
    </a>
  </li>

  <li>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><i class="glyphicon glyphicon-plus"></i> Ajouter un exercise</button>
      <ul class="dropdown-menu">
        <li><a href ng-click="addNewIntervals(exercise)">Fractionnée</a></li>
        <li><a href ng-click="addNewRepeat(exercise)">Répétition</a></li>
        <li><a href ng-click="addNewWarmupWarmdown('warmup', exercise)">Échauffement</a></li>
        <li><a href ng-click="addNewWarmupWarmdown('warmdown', exercise)">Récupération</a></li>
      </ul>
    </div>
  </li>

  <li>
    <button ng-disabled="!facebook.ready || !facebook.loggedIn" ng-click="submit()" class="btn btn-default navbar-btn">
      <i class="glyphicon glyphicon-save"></i>
      Sauvegarder
    </button>
  </li>
</ul>
