<form name="forms.intervals_{{$index}}" class="form-horizontal" novalidate>
  <span class="label label-success">Fractionnée</span>

  <!-- formgroup -->
  <div class="form-group">
    <label for="repetition" class="control-label col-sm-2">Répétition:</label>
    <div class="col-sm-2">
      <input select-on-click type="number" class="form-control"
        name="repetition" placeholder="Nombre" ng-model="step.laps" required>
    </div>

    <label class="help-block"
      ng-show="forms['intervals_' + $index].repetition.$dirty && forms['intervals_' + $index].repetition.$error.required">
      Vous devez specifiez une repetition.
    </label>
  </div>

  <!-- formgroup -->
  <div class="form-group">
    <label for="unit" class="control-label col-sm-2">Type d'effort:</label>
    <div class="col-sm-2">
      <select class="form-control" name="unit" ng-model="step.effort_type">
        <option ng-repeat="option in effortTypeOptions" value="{{option.value}}">
          {{option.name}}
        </option>
      </select>
    </div>

    <div ng-show="step.effort_type == 'distance'">
      <label for="unit" class="control-label col-sm-3">Distance en mètres:</label>
      <div class="col-sm-3">
        <input name="effortd" select-on-click type="number" maxlength="9"
          class="form-control" placeholder="Distance en mètres"
          ng-model="step.length" required>

        <label class="help-block"
          ng-show="forms['intervals_' + $index].effortd.$dirty && forms['intervals_' + $index].effortd.$error.required">
          Vous devez specifiez des metres.
        </label>
      </div>
    </div>
    <div ng-show="step.effort_type == 'time'">
      <label for="unit" class="control-label col-sm-3">Temps d'effort:</label>
      <div class="col-sm-3">
        <input name="effortt" type="text" maxlength="9" class="form-control"
          placeholder="Temps" ng-model="step.effort"
          check-effort-time select-on-click>
        <label class="help-block"
          ng-show="forms['intervals_' + $index].effortt.$dirty && forms['intervals_' + $index].effortt.$error.invalidEffortFormat">
          Vous devez specifiez un format du genre: 3mn ou 30s.
        </label>
        <label class="help-block"
          ng-show="forms['intervals_' + $index].effortt.$dirty && forms['intervals_' + $index].effortt.$error.required">
          Vous devez ajouter un temps d'effort.
        </label>
      </div>
    </div>
  </div>

  <!-- formgroup -->
  <div class="form-group">
    <label for="vma" class="control-label col-sm-1">VMA:</label>
    <div class="col-sm-3">
      <input type="number" maxlength="3" class="form-control" name="vma"
        placeholder="Pourcentage" ng-model="step.percentage" required>
      <label class="help-block"
        ng-show="forms['intervals_' + $index].vma.$dirty && forms['intervals_' + $index].vma.$error.required">
        Vous devez mettre une VMA
      </label>
    </div>
    <label for="rest" class="control-label col-sm-1">Repos:</label>
    <div class="col-sm-7">
      <textarea class="form-control" placeholder="Temps ou distance de repos"
        ng-model="step.rest" rows="2" name="rest"></textarea>
    </div>
  </div>

</form>
