<div ng-show="NotFound" class="alert alert-danger">
  Sorry honey, j'ai pas reussi a trouver la séance <strong>{{NotFound}}</strong> dans mon ventre.
</div>

<div ng-hide="NotFound" class="editor">
  <strong>Editer séance</strong>:  <a href ng-show="editing" ng-click="editing = false"><i class="glyphicon glyphicon-ok"></i></a>
  <input select-on-click ng-show="editing" type="text" maxlength="1024" class="form-control" name="distance" ng-model="excercise.name">
  <span ng-hide="editing">
    {{excercise.name}}
  </span>
  <a href ng-hide="editing" ng-click="editing = true"><i class="glyphicon glyphicon-pencil"></i></a>

  <div class="step" ng-repeat="step in excercise.steps">

    <span ng-show="step.type == 'warmup' || step.type == 'warmdown'" ng-include="'partials/workupdown.html'"></span>

    <span ng-show="step.type == 'interval'" ng-include="'partials/intervals.html'"></span>

    <span ng-show="step.type == 'repeat'" ng-include="'partials/repeat.html'"></span>

    <div class="text-right">
      <a href ng-click="swapUp($index, excercise)"><i ng-hide="$first" class="glyphicon glyphicon-chevron-up"></i></a>
      <a href ng-click="swapDown($index, excercise)"><i ng-hide="$last" class="glyphicon glyphicon-chevron-down"></i></a>
      <a href ng-click="removeStep($index, excercise)"><i class="glyphicon glyphicon-remove"></i></a>

      <span ng-show="step.type == 'repeat'"> <!-- plus a new only when a repeat -->
        <a href class="dropdown-toggle" data-toggle="dropdown">
          <i class="glyphicon glyphicon-plus"></i>
        </a>
        <ul class="dropdown-menu pull-right">
          <li><a href ng-click="addNewWarmupWarmdown('warmup', step.repeat)">Échauffement</a></li>
          <li><a href ng-click="addNewWarmupWarmdown('warmdown', step.repeat)">Récupération</a></li>
          <li><a href ng-click="addNewIntervals(step.repeat)">Fractionnée</a></li>
        </ul>
      </span>
    </div>
  </div> <!-- ng-repeat -->

</div>

<nav ng-hide="NotFound" class="navbar navbar-default navbar-xs" role="navigation">
  <div class="navbar-nav navbar-center">
    <button class="btn btn-default navbar-btn">
      <a href class="dropdown-toggle" data-toggle="dropdown">
        <i class="glyphicon glyphicon-plus"></i> Ajouter un excercise
      </a>
      <ul class="dropdown-menu">
        <li><a href ng-click="addNewWarmupWarmdown('warmup', excercise)">Échauffement</a></li>
        <li><a href ng-click="addNewWarmupWarmdown('warmdown', excercise)">Récupération</a></li>
        <li><a href ng-click="addNewIntervals(excercise)">Fractionnée</a></li>
      </ul>
    </button>
    &nbsp;
    <button class="btn btn-default navbar-btn">
      <a href="#">
        <i class="glyphicon glyphicon-remove"></i> Supprimer
      </a>
    </button>
    &nbsp;
    <button class="btn btn-default navbar-btn">
      <a href ng-click="submit()">
        <i class="glyphicon glyphicon-save"></i>
        Sauvegarder
      </a>
    </button>
  </div>
</nav>
