<div class="panel panel-default">
  <div class="panel-heading">Editing Program <strong>{{programName}}</strong></div>
  <div class="panel-body">
    <form name="form" ng-submit="saveshow()">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>
            <th>Repetition</th>
            <th>Length</th>
            <th>VMA Percentage</th>
            <th>Repos</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="program in programDetails">
            <td><input type="checkbox" ng-model="program.selected"/></td>
            <td><input type="text" class="form-control" ng-model="program.Repetition" required/></td>
            <td><input type="text" class="form-control" ng-model="program.Meters" required/></td>
            <td><input type="text" class="form-control" ng-model="program.Percentage" required/></td>
            <td><input type="text" class="form-control" ng-model="program.Repos"/></td>
          </tr>
        </tbody>
      </table>

      <div class="form-group">
        <input ng-hide="!programDetails.length" type="button" class="btn btn-danger" ng-click="remove()" value="Remove">
        <input ng-click="addNew()" class="btn btn-primary" value="Add New">
        <input ng-click="save()" class="btn btn-info addnew" value="Save">
        <input type="submit" class="btn btn-success pull-right" value="Show">
      </div>
    </form>
  </div>
</div>
