<img class="img-responsive img-rounded" alt="banner" src="http://chmouel.com/frac/banner.jpg">
<div ng-repeat="program in programs.Workouts">
  <div class="well-sm program">
    <h3 class="text-center"><strong>{{program.Workout.Repetition}} * {{program.Workout.Meters}}m @ {{program.Workout.Percentage}}%</strong></h3>
  </div>
  <div class="table-responsive">
    <table summary="Frac" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>VMA</th>
          <th>Total time</th>
          <th>400m time</th>
          <th>Speed</th>
          <th>Pace</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="w in program.VMAs">
          <td><strong>{{w.VMA}}</strong></td>
          <td>{{w.TotalTime}}</td>
          <td>{{w.TimeTrack}}</td>
          <td>{{w.Speed}}</td>
          <td>{{w.Pace}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <p class="text-right text-warning">{{program.Workout.Repos}} </p>
  </div>
</div>
