[Unit]
Description=Run ChmouFrack

[Service]
Type=idle
WorkingDirectory=/usr/local/go/src/github.com/chmouel/chmoufrack/
ExecStart=/usr/local/go/src/github.com/chmouel/chmoufrack/frack 
User=chmoufrack
TimeoutStopSec=1
Restart=always
RestartSec=2
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
