<div ng-controller="ProgramIndexController">
  <div ng-click="submit(p.name)"  ng-repeat="p in programIndex">
    <div class="well-sm program">
      <h3 class="text-center"><strong><a href>{{p.name}}</a></strong></h3>
    </div>
    <div class="table-responsive text-center tableComment" style="margin: 10px;">
      <strong>Nombre d'exercices</strong>: {{p.totalWorkout}}
      <a href="#!/edit/1"><i class="glyphicon glyphicon-pencil"></i></a>
      <div ng-if="p.comment" class="text-center rest2">
        <span ng-bind-html="p.comment | linky:'_blank'"></span>
      </div>
    </div>
  </div>
</div>
