<div ng-controller="CalculController">
  <div ng-repeat="w in program.steps">
    <div ng-if="w.type == 'repeat'" class="block-repeat">
      <div class="block-header">
        <img width="28px" height="24px" src="img/repeat.png"/>
        <strong>Répétitions</strong> Faire <strong>{{w.repeat.repeat}}</strong> fois
      </div>

      <div ng-init="repetion=true" ng-repeat="w in w.repeat.steps">
        <div ng-include="'html/view/interval.html'">
        </div>
      </div>
    </div>

    <div ng-if="w.type == 'interval'">
      <div ng-include="'html/view/interval.html'">
      </div>
    </div>

    <div ng-if="w.type == 'warmup'" class="workout-step warmup">
      <strong>Échauffement:</strong>&nbsp;{{w.effort}}
    </div>
    <div ng-if="w.type == 'warmdown'" class="workout-step warmdown">
      <strong>Récupération:</strong>&nbsp;{{w.effort}}
    </div>
    <div ng-hide="$last" class="text-center" style="padding-bottom: 10px;">
    </div>
  </div>

  <div ng-show="facebook.loggedIn  && facebook.info.id == program.fbID" class="pull-right">
    <a href="#!/edit/{{program.name}}"><i class="glyphicon glyphicon-pencil"></i><small>Edit</small></a>
  </div>

  <form name="chooser" ng-submit="submit()" novalidate>
    <div class="form-group  container-fluid">
      <div class="col-lg-offset-2 col-lg-4">
        <label for="programs">Programme:</label>
        <select ng-options="x for x in programNames" ng-change="switchtoProgram()" ng-model="selectedProgram" class="form-control">
        </select>
      </div>
      <div class="col-lg-2">
        <label for="vma">VMA:</label>
        <select ng-options="x for x in allVMAS" ng-change="switchtoProgram()" ng-model="selectedVMA" class="form-control" >
        </select>
      </div>
    </div>
  </form>

</div>
