<img class="img-responsive img-rounded" alt="banner" src="https://github.com/chmouel/chmoufrack/raw/oldversionondb/static/images/banner.jpg">

<div ng-controller="CalculController">
  <div ng-repeat="w in program.Workouts">
    <div class="well-sm program">
      <h3 class="text-center"><strong>{{hello}} {{w.Repetition}} * {{w.Meters}}m @ {{w.Percentage}}%</strong></h3>
    </div>
    <div class="table-responsive">
      <table summary="Frac" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>VMA</th>
            <th>Temps Total</th>
            <th>Temps 400m</th>
            <th>Vitesse</th>
            <th>Allure</th>
          </tr>
        </thead>
        <tbody ng-init="vmas = test(w.Repetition, w.Meters, w.Percentage)">
          <tr ng-repeat="v in vmas">
            <td><strong>{{v.vma}}</strong></td>
            <td>{{v.totalTime}}</td>
            <td>{{v.timeLap}}</td>
            <td>{{v.speed}}</td>
            <td>{{v.pace}}</td>
          </tr>
        </tbody>
      </table>
      <div ng-if="workout.Repos != ''" class="text-center bg-warning" style="padding: 5px;margin-top: -20px;">
        <strong>Repos:</strong> <span class="text-muted">{{w.Repos}}</span>
      </div>
    </div>
  </div>
</div>

<form ng-submit="submit()">
  <div class="form-group  container-fluid">
    <div class="col-lg-offset-2 col-lg-2">
      <label for="vma">VMA:</label>
      <select id="vma" class="form-control" ng-options="n for n in [] | range:10:22" ng-model="selectedVMA">
      </select>
    </div>
    <div class="col-lg-4">
      <label for="programs">Programme:</label>
      <select id="programs" ng-options="x.Name for x in programs" ng-change="submit()" class="form-control" ng-model="selectedWorkout">
      </select>
    </div>
    <div style="margin-top: 2px;" class="col-lg-2">
      <label for="zou"></label>
      <input id="zou" class="form-control" type="submit" value="Zou!">
    </div>
  </div>
</form>
