  <div class="well-sm program">
    <h3 class="text-center"><strong>{{.WP.Repetition}} * {{.WP.Meters}}m @ {{.WP.Percentage}}%</strong></h3>
  </div>
  <div class="table-responsive">
  <table summary="Frac" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>VMA
        </th>
        <th>Total time</th>
        <th>{{.WP.TrackLength}}m time</th>
        <th>Speed</th>
        <th>Pace</th>
      </tr>
    </thead>
    <tbody>
      {{range .VMAs}}
      <tr>
        <td><strong>{{.VMA}}</strong></td>
        <td>{{.TotalTime}}</td>
        <td>{{.TimeTrack}}</td>
        <td>{{.Speed}}</td>
        <td>{{.Pace}}</td>
      </tr>
      {{end}}
    </tbody>
    </table>
  </div>
  <div>
    <p class="text-right text-warning" >Rest: {{.WP.Repos}} </p>
  </div>
