<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

    <!-- Message -->
    <script type="text/javascript" src="css/bootbox.min.js"></script>

    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/simple-sidebar.css" type="text/css" media="screen">


    <script type="text/javascript" src="controllers.js"></script>
  </head>

  <body ng-app="EditWorkout" ng-controller="ListController">
    <div id="header">
      <div id="header-content">
        <a ng-click="toggleSidebar()">Toggle menu</a>
        &nbsp;
        <a ng-click="addNewProgram()">Add Program</a>

      </div>
    </div>
    <div id="wrapper" class="toggled">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a href="#">Programs</a>
          </li>
          <li ng-repeat="workout in workoutS">
            <a href="#{{workout.Name}}">{{workout.Name}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div ng-view class="container"></div>

  </body>
</html>
